<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.voctest.mappers.VocMapper">
    <sql id="search">
        <if test="type != null and keyword != null">
            <trim prefix="(" suffix=") AND " prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'T'.toString()">
                                (VOCTITLE LIKE '%'||#{keyword}||'%')
                            </when>
                            <when test="type == 'D'.toString()">
                                (VOCDETAIL LIKE '%'||#{keyword}||'%')
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <select id="getList" resultType="vocVO">
        <![CDATA[
        SELECT VOCNUM, VOCTITLE,MEMBERNUM, MEMBERSTATUS, VOCDETAIL, VOCPENALTY, VOCPENALTYSUM, VOCDATE
        FROM
        (
            SELECT /*+ INDEX_DESC(VOC VOC_FK) */
            ROWNUM R, VOCNUM, VOCTITLE,MEMBERNUM, MEMBERSTATUS, VOCDETAIL, VOCPENALTY, VOCPENALTYSUM, VOCDATE
            FROM VOC
            WHERE
        ]]>
        <include refid="search"></include>
        <![CDATA[
        ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE R > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

<!--    <insert id="insert">
        INSERT INTO VOC (VOCNUM, VOCTITLE, MEMBERNUM, MEMBERSTATUS, VOCDETAIL, VOCPENALTY, VOCPENALTYSUM)
        VALUES(SEQ_VOC.NEXTVAL, #{vocTitle}, #{memberNum}, #{memberStatus}, #{vocDetail}, #{vocPenalty}, #{vocPenaltySum})
    </insert>-->

    <insert id="insertSelectKey_vocNum">
        <selectKey keyProperty="vocNum" order="BEFORE" resultType="long">
            SELECT SEQ_VOC.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO VOC (VOCNUM, VOCTITLE, MEMBERNUM,MEMBERSTATUS, VOCDETAIL,VOCPENALTY, VOCPENALTYSUM)
        VALUES(#{vocNum}, #{vocTitle}, #{memberNum}, #{memberStatus}, #{vocDetail}, #{vocPenalty}, #{vocPenaltySum})
    </insert>

    <select id="read" resultType="vocVo">
        SELECT VOCNUM, VOCTITLE, MEMBERNUM, MEMBERSTATUS, VOCDETAIL, VOCPENALTY, VOCPENALTYSUM, VOCDATE FROM VOC
        WHERE VOCNUM = #{vocNum}
    </select>

    <update id="update">
        UPDATE VOC
        SET MEMBERNUM = #{memberNum}, VOCTITLE = #{vocTitle}, VOCDETAIL = #{vocDetail}, VOCPENALTY = #{vocPenalty}, VOCPENALTYSUM = #{vocPenaltySum}, VOCDATE = SYSDATE
        WHERE VOCNUM = #{vocNum}
    </update>

    <update id="updateOk">
       UPDATE VOC
       SET MEMBERSTATUS = '1'
       WHERE VOCNUM = #{vocNum}
   </update>

    <delete id="remove">
        DELETE FROM VOC WHERE VOCNUM = #{vocNum}
    </delete>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(VOCNUM) FROM VOC
        <where>
            <trim suffixOverrides="AND">
                <include refid="search"></include>
            </trim>
        </where>
    </select>

    <select id="getDate" resultType="vocVo">
    <![CDATA[
        SELECT VOC.MEMBERNUM , (VOC_MEMBER.SALARY - VOC.VOCPENALTYSUM) AS VOCPENALTYSUM , VOC.VOCDATE
        FROM VOC_MEMBER JOIN VOC
        ON VOC_MEMBER.MEMBERNUM = VOC.MEMBERNUM
        WHERE VOC.VOCDATE BETWEEN TO_CHAR(TO_DATE('20211201','YYYYMMDD'),'YYYY-MM-DD')
        AND TO_CHAR(TO_DATE('20211231','YYYYMMDD'),'YYYY-MM-DD')
        AND VOC.MEMBERSTATUS = 1
        ]]>
    </select>

</mapper>


