<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <section class="main">
        <h1 id="login">로그인</h1>
        <form method="post" name="loginForm" action="/member/login">
            <div style="display:flex; justify-content:space-evenly; color:black;">
                    <div>
                        <input type="text" name="memberNum" id="memberNum" value="" placeholder="회원번호"/>
                        <input type="password"name="memberPw" id="memberPw" value="" placeholder="비밀번호"/>
                        <input type="button" value="로그인" onclick="check()"/>
                    </div>
            </div>
        </form>
    </section>
</body>
<script>
    function check(){
        var form = document.loginForm;
        if(!form.memberNum.value){
            alert("회원번호를 입력해주세요.");
            form.memberNum.focus();
            return;
        }

        if(!form.memberPw.value){
            alert("비밀번호를 입력해주세요.");
            form.memberPw.focus();
            return ;
        }

        form.submit();
    }
</script>

<script th:inline="javascript">
    $("input#memberNum").keypress(function(e) {
        if (e.keyCode === 13) {
            check(); // do something
        }
    });

    $("input#memberPw").keypress(function(e) {
        if (e.keyCode === 13) {
            check(); // do something
        }
    });
</script>
<script th:inline="javascript">
    var flag = [[${flag}]];
    $(document).ready(function(){
        if(flag=="false") {
            alert("아이디 또는 비밀번호가 틀렸습니다.");
            flag=null;
        }
    })
</script>
</html>