<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <style>
        #login{
            display:flex;
            justify-content:space-evenly;
        }
        #divF{display:flex;justify-content:space-evenly;color:black;width: 30%;flex-direction: column;margin: auto;}
        #loginbtn{
            margin-left: 32%;
            margin-top: 10%;
        }
        #memberPw{
            margin-top: 2%;
        }
    </style>
</head>
<body class="is-preload">
    <section class="main">
        <div class="wrapper">
            <div class="inner">
        <h3 id="login">로그인</h3>
        <form method="post" name="loginForm" action="/member/login">
            <div id="divF">
                    <div>
                        <input type="text" name="memberNum" id="memberNum" value="" placeholder="회원번호"/>
                        <input type="password"name="memberPw" id="memberPw" value="" placeholder="비밀번호"/>
                        <input type="button" id="loginbtn" value="로그인" onclick="check()"/>
                    </div>
            </div>
        </form>
            </div>
        </div>
    </section>
</body>
<script>
    function check(){
        var form = document.loginForm;
        if(!form.memberNum.value){
            alert("회원번호를 입력해주세요.");
            form.memberNum.focus();
            return;
        }

        if(!form.memberPw.value){
            alert("비밀번호를 입력해주세요.");
            form.memberPw.focus();
            return ;
        }

        form.submit();
    }
</script>

<script th:inline="javascript">
    $("input#memberNum").keypress(function(e) {
        if (e.keyCode === 13) {
            check(); // do something
        }
    });

    $("input#memberPw").keypress(function(e) {
        if (e.keyCode === 13) {
            check(); // do something
        }
    });
</script>
<script th:inline="javascript">
    var flag = [[${flag}]];
    $(document).ready(function(){
        if(flag=="false") {
            alert("아이디 또는 비밀번호가 틀렸습니다.");
            flag=null;
        }
    })
</script>
</html>