<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VOC Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <style>
        .big-width {display: block;}
        .small-width {display: none;}
        div#searchWrap{display: flex;}
        select[name='type']{width: 30%;}
        input[name='keyword']{width: 60%;}
        form[name='searchForm']{overflow: hidden;}

        @media (max-width: 918px) {
            .writer {display: none;}
            .regDate {display: none;}
            .updateDate {display: none;}
            .big-width {display: none;}
            .small-width {display: block;}
            div#searchWrap{display: block;}
            select[name='type']{width: 100%;}
            input[name='keyword']{width: 100%;}
            a.search{width: 100%;}
        }
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>VOC Board</h1>
                <p>게시판 목록</p>
            </header>
            <th:block th:if="${memberNum} eq 10000">
                <input type="button" id="button" class="button small" value="글쓰기" onclick="goWrite()">
                <input type="button" id="vListButton" class="button small" value="VOC LIST" onclick="goVocList()">
                <input type="button" id="vDateButton" class="button small" value="Monthly Total" onclick="goVocDate()">
            </th:block>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="tHead">
                        <th class="vocNum">번호</th>
                        <th class="vocDate">등록일</th>
                        <th class="memberStatus">승인 여부</th>
                        <th class="vocTitle">제목</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="voc : ${list}">
                        <tr class="tBody" th:object="${voc}">
                            <td class="vocNum" th:text="*{vocNum}"></td>
                            <td class="vocDate" th:text="*{vocDate}"></td>
                            <td th:if= "*{memberStatus} == '0'" th:text="미승인"/>
                            <td th:if= "*{memberStatus} == '1'" th:text="승인"/>
                            <th:block th:if="${memberNum} eq *{memberNum}">
                            <td class="title"><a id="goRead" th:href="*{vocNum}" th:text="*{vocTitle}"></a>
                            </th:block>
                            <th:block th:if="${memberNum} eq 10000">
                                <td class="title"><a id="goRead" th:href="*{vocNum}" th:text="*{vocTitle}"></a>
                            </th:block>
                            <<th:block th:if="${memberNum} ne *{memberNum} and ${memberNum} ne 10000">
                            <td class="title" th:text="*{vocTitle}"></td>
                            </th:block>
                        </tr>
                    </th:block>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <form action="/voc/list" name="searchForm">
                    <div class="fields">
                        <div class="field">
                            <div id="searchWrap" th:object="${pageMaker}">
                                <select name="type" th:object="${criteria}">
                                    <option value="">검색 기준</option>
                                    <option value="TC" th:selected="*{type} == 'TD'">제목 또는 내용</option>
                                </select>
                                <input id="keyword" type="text" name="keyword" th:value="*{criteria.keyword}">
                                <a href="javascript:void(0)" class="search button primary icon solid fa-search">검색</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div th:object="${pageMaker}">
                    <div class="big-width" style="text-align: center">
                        <a class="changePage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
                        <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                            <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
                            <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="${num}"><code th:text="${num}"></code></a>
                        </th:block>
                        <a class="changePage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
                    </div>
                    <div class="small-width" style="text-align: center">
                        <a class="changePage" th:if="*{criteria.pageNum > 1}" th:href="*{criteria.pageNum - 1}"><code>&lt;</code></a>
                        <code th:text="*{criteria.pageNum}"></code>
                        <a class="changePage" th:if="*{criteria.pageNum < realEnd}" th:href="*{criteria.pageNum + 1}"><code>&gt;</code></a>
                    </div>
                    <form action="/voc/list" th:object="${criteria}" name="pageForm">
                        <input type="hidden" name="pageNum" th:field="*{pageNum}">
                        <input type="hidden" name="amount" th:field="*{amount}">
                        <input type="hidden" name="type" th:field="*{type}">
                        <input type="hidden" name="keyword" th:field="*{keyword}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
<script th:inline="javascript">
    function goWrite(){
        location.href = "/voc/register";
    }
    function goVocList(){
        location.href = "/voc/vocList";
    }
    function goVocDate(){
        location.href = "/voc/vocDate";
    }

    // 글 등록 시 전달받는 게시글 번호를 alert으로 출력
    let pageForm = $(document.pageForm);
    let paging = [[${pageMaker.criteria.listLink}]];
    let searchForm = $(document.searchForm);

    $(document).ready(function(){
        let vocNum = [[${vocNum}]];
        if(vocNum == null || history.state){
            return;
        }
        alert("게시글 " + vocNum + "번이 등록되었습니다.");
        history.replaceState({}, null, null);
    });

    $("a.changePage").click(function(e){
        e.preventDefault();
        pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        pageForm.submit();
    });

    $("a#goRead").on("click", function(e){
        e.preventDefault();
        location.href = "/voc/read" + paging + "&vocNum=" + $(this).attr("href");
    })

    $("a.search").on("click", function(e){
        e.preventDefault();
        if(!searchForm.find("option:selected").val()){
            alert("검색 종류를 선택하세요");
            return;
        }

        if(!searchForm.find("input#keyword").val()){
            alert("키워드를 입력하세요");
            return;
        }
        searchForm.submit();
    });

    $("input#keyword").on("keydown", function(e){
        if(e.keyCode == 13){
            e.preventDefault();
        }
    })
</script>
</html>